---
title: Hospital Explorer | TexasTribune
---
<header class="app-header">
  <h1><a href="/">Hospital Explorer</a></h1>
  <hr>
</header>
<div class="search-container">
  <form method="get" action="/search">
    <input name="q" type="text" placeholder="Search by zipcode">
    <button>Search</button>
  </form>
</div>
<div class="show-hospital">
  <div class="general-info">
    <h1>Texas General Hospital</h1>
    <h3>Provider Number: 450002</h3>
    <p>
      2001 N Oregon St
    </p>
    <p>
      El Paso, TX, 79902<br>
    </p>
    <p>
      Phone number: (915) 577 6011<br>
    </p>
    <p>
      <button name="compare">Compare this hospital</button>
      <i>link to compare hospitals <a href="/compare.html">here</a></i>
    </p>
  </div>
  <div class="hospital-map">
    <a href="http://maps.google.com" target="_blank">
      <img src="http://maps.googleapis.com/maps/api/staticmap?center=-15.800513,-47.91378&zoom=11&size=200x200&sensor=false">
    </a>
    <i>This will be link to google maps or maybe the map itself</i>
  </div>
</div>
<div class="hospital-data">
  <h2>Complication rates</h2>
  <table>
    <tr>
      <th></th>
      <th>Texas General Hospital</th>
      <th>Texas</th>
      <th>National</th>
    </tr>
    <tr>
      <td>Death from serious complications</td>
      <td>No Different than U.S. National Rate</td>
      <td>something</td>
      <td>something else</td>
    </tr>
    <tr>
      <td>Serious complications</td>
      <td>No Different than U.S. National Rate</td>
      <td>Something</td>
      <td>Something else</td>
    </tr>
  </table>

  <h2>Emergency Rates</h2>
  <table>
    <tr>
      <th></th>
      <th>Texas General Hospital</th>
      <th>Texas</th>
      <th>National</th>
    </tr>
    <tr>
      <td>Door to diagnostic eval</td>
      <td>27</td>
      <td>*</td>
      <td>*</td>
    </tr>
    <tr>
      <td>ED1</td>
      <td>276</td>
      <td>*</td>
      <td>*</td>
    </tr>
    <tr>
      <td>OP 18</td>
      <td>134</td>
      <td>*</td>
      <td>*</td>
    </tr>
  </table>

  <h2>Quality Rates</h2>
  <table>

  </table>
</div>

<div class="indicators">
  <h2>Performance Indicators</h2>
  <ul>
    <li><b>Total Performance Score:</b> 43.67</li>
    <li><b>Wight Clinical Process of Care Domain Score:</b> 33.0</li>
    <li><b>Weighted Patient Experience of Care Domain Score:</b> 1.67</li>
    <li><b>Weighted Outcome Domain Score,Total Performance Score:</b> 9.0</li>
  </ul>
</div>
