<header>
  hey!
</header>
<section>
  <ul>
    <li>hospital 1</li>
    <li>hospital 1</li>
    <li>hospital 1</li>
    <li>hospital 1</li>
    <li>hospital 1</li>
    <li>hospital 1</li>
  </ul>
</section>
