.container {
  @include outer-container;
}

.content-block {
  margin-left: 1.25em; // 20px left
  margin-right: 1.25em; // 20px right
}

.row {
  @include row();
}

.hospital-span {
  margin-bottom: .25em;

  @include media($desktop) {
    margin-bottom: 0;
    @include span-columns(3 of 15);
  }
}

.hospital-box {
  @include media($desktop) {
    @include span-columns(4 of 12);
    @include omega(3n);
  }
}

//COMPARE PAGE
.category-wrapper {
  @include span-columns(12);
}
.hosp-card-wrapper {
  .hosp-card {
    @include span-columns(12);
    @include media($desktop) {
      @include span-columns(4);
      @include omega(3n);
    }
  }
  .card-row {
    @include span-columns(12);
    .value-header {
      @include span-columns(6 of 12);
    }
    .value {
      @include span-columns(6 of 12);
    }
  }
}

//FOOTER
.footer-container {
  @include outer-container;
  @include media($desktop) {
    div {
      @include span-columns(3 of 12);
    }
  }
}
