// breakpoints
$desktop: new-breakpoint(min-width 768px 12);
$mobile: new-breakpoint(max-width 480px);
$mobile-min: new-breakpoint(min-width 481px);

// fonts
$base-sans-serif: $helvetica;
$base-serif: $georgia;

//trib colors
$tribune-yellow: rgb(255, 194, 0);
$lt-yellow: rgb(254 ,245, 206); //selected hospital box
$bodytext-black: rgb(40, 40, 40);
$masthead-black: rgb(17, 17, 17);
$teal: rgb(0, 137, 144); //href color
$lavender: rgb(231, 222, 238);
$red: rgb(216,0,12);
$white: rgb(255, 255, 255);

// shades of gray
$lt-gray: rgb(207, 204, 199);
$dk-gray: rgb(102, 102, 102);
$glossary-gray: rgb(245, 245, 245); //background color
$bbb: rgb(187, 187, 187); 
$eee: rgb(238, 238, 238);

//accordion labels
$ac1-open: rgb(247, 177, 166);
$ac1-hover: rgb(245, 189, 180);
$ac2-open: rgb(255, 203, 154);
$ac2-hover: rgb(251, 222, 196);
$ac3-open: rgb(180, 221, 242);
$ac3-hover: rgb(198, 228, 243);
$ac4-open: rgb(170, 186, 252);
$ac4-hover: rgb(207, 215, 250);

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin expand-on-mobile {
  @include media($mobile) {
    @include span-columns(12);
  }
}
