// breakpoints
$desktop: new-breakpoint(min-width 768px 12);
$mobile: new-breakpoint(max-width 480px);

// fonts
$boldHeaderFont: $helvetica;
$textFont: $georgia;
$chartFont: $helvetica;

// colors
$white: rgb(255, 255, 255);
$offblack: rgb(34, 34, 34);
$offwhite: rgb(238, 238, 238);
$lt_gray: rgb(102, 102, 102);
$dk_gray: rgb(51, 51, 51);

// trib colors
$dk_teal: rgba(0, 137, 144, 0.9);
$dark-grey: #eee;
$yellow: rgb(252, 193, 15);
$teal: rgb(55, 157, 146);
$lavender: rgb(231, 222, 238);
$red: #D8000C;
$link-color: #008990;

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin expand-on-mobile {
  @include media($mobile) {
    @include span-columns(12);
  }
}