.masthead {
  background-color: $masthead-black;
  width: 100%;

  .branding {
    padding: .75em 0 .375em;
    text-align: center;
    width: 100%;

    .trib-logo {
      height: 1.625em;
    }
  }
}

.banner {
  background-color: lighten($masthead-black, 15%);
  display: table;
  height: 225px;
  margin: 0 0 1.5em;
  position: relative;
  width: 100%;

  .grand-header {
    display: table-cell;
    padding: 0 1.25em;
    position: relative;
    text-align: center;
    vertical-align: middle;

    a {
      color: rgb(255, 255, 255);
    }

    h1 {
      color: rgb(255, 255, 255);
      font-family: $base-serif;
      font-size: 2.5em;
      font-weight: 800;
      line-height: 1.15;
      margin-bottom: .25em;
      text-shadow: rgb(0, 0, 0) 3px 3px 0;

      @include media($desktop) {
        font-size: 3.5em;
      }
    }

    p {
      color: rgb(255, 255, 255);
      font-family: $base-sans-serif;
      font-size: 1.25em;
      letter-spacing: .0625em;
      line-height: 1.15;
      text-shadow: rgb(0, 0, 0) 3px 3px 0;

      @include media($desktop) {
        font-size: 1.5em;
      }
    }
  }

  .grand-header-image {
    background-image: url('/img/healthcare-explorer-header.jpg');
    background-position: center center;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.main-header {
  margin-bottom: 1em;

  h2 {
    font-size: 2em;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: .5em;
  }
}

.section-header {
  margin: 1.25em;

  h3 {
    font-size: 1.625em;
    font-weight: 800;
  }

  h4 {
    font-size: 1.25em;
  }
}

.sub-section-header {
  h4 {
    font-size: 1em;
    font-weight: 800;
    margin-bottom: .5em;

    @include media($desktop) {
      font-size: 1.25em;
    }
  }
}

.prose {
  p {
    font-family: $base-serif;
    line-height: 1.4;
    margin-bottom: 2em;
  }
}

.explainer-prose {
  margin-top: 1em;
}

.call-to-action {
  p {
    font-family: $base-serif;
    font-size: 1.125em;
    line-height: 1.4;
    margin-bottom: 1.5em;
  }
}

.glossary-header {
  color: rgb(34, 34, 34);
  font-family: $base-sans-serif;
  font-weight: 800;
  line-height: 1.2;
  text-align: left;
}

p.glossary-text {
  background: $glossary-gray;
  color: rgb(34, 34, 34);
  font-family: $base-sans-serif;
  font-weight: 300;
  line-height: 1.3;
  padding: 1em;
}

.about {
  margin-bottom: 1em;

  .handle {
    font-family: $base-sans-serif;
    font-weight: 300;
  }

  li {
    margin-bottom: 1em;

    p {
      margin: 0;
      &:first-child{
        margin-bottom: 0.1em;
      }
    }
  }

  .about-desc {
    color: $lt_gray;
  }
}

.disclaimer {
  margin-top: 2em;

  p {
    font-family: $base-sans-serif;
    font-size: .875em;
    font-style: italic;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1em;
  }
}

.search {
  .search-box {
    margin-bottom: 1em;
  }

  .form-prompt {
    font-size: .875em;
    font-style: italic;
    margin: 0 0 .5em;
  }

  .or-separator {
    display: block;
    font-weight: 800;
    margin: 1em 0;

    @include media($desktop) {
      display: inline;
      margin: 0 1em;
    }
  }
  .messages {
    color: $red;
    font-size: .8em;
    font-style: italic;
    height: 16px;
    margin-top: 5px;
  }
  form{
    position: relative;
    .loading{
      margin-left: 1.5em;
      position: absolute;
      bottom: 9px;
    }
  }
}

.form-group {
  margin-bottom: 1em;

  @include media($desktop) {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  input {
    -webkit-appearance: none;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    font-size: 1em;
    height: 30px;
    margin: 0;
    padding: 7px 10px;
    width: 100%;

    @include media($desktop) {
      width: 300px;
    }
  }

  .sr-only {
    @include visually-hidden;
  }
}

.hospital-map {
  height: 150px;
  margin-bottom: 1em;
  width: 100%;
}

.location-map {
  height: 290px;
  margin-bottom: 1em;
  width: 100%;

  @include media(desktop) {
    height: 580px;
  }
}

.glossary {
  background-color: $glossary-gray;
  margin-bottom: 2em;
  padding: .625em;
}

.active-hospitals {
  margin-bottom: .3125em;
  @include row();
}

.hospital-in-compare-list {
  font-size: .875em;

  @include media($desktop) {
    @include span-columns(4 of 12);
    @include omega(3n);
  }

  .remove {
    float: left;
    margin-right: .5em;
  }

  .hospital-name {
    overflow: hidden;
    padding-bottom: .375em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.share-row {
  padding: .5em 0;

  @include media($desktop) {
    padding: .1em 0;
    border-bottom: 1px solid rgb(204, 204, 204);
    border-top: 1px solid rgb(204, 204, 204);
  }
}

.share-cell {
  border-bottom: 1px solid rgb(204, 204, 204);
  font-size: .8em;
  padding: .5em 0;
  text-align: center;

  @include media($desktop) {
    border-bottom: 0;
    border-left: 1px solid rgb(204, 204, 204);
    padding: .25em 0;
  }

  &:first-child {
    border-top: 1px solid rgb(204, 204, 204);

    @include media($desktop) {
      border-top: 0;
      border-left: 0;
    }
  }

  & a {
    color: rgb(119, 119, 119);

    &:hover {
      color: rgb(17, 17, 17);
      text-decoration: none;
    }
  }

  & i {
    padding: 0;
  }

  @include media($desktop) {
    float: left;
    width: 50%;
  }
}

.general-info-row {
  margin-bottom: 1em;
}

.only-on-mobile {
  @include media($mobile-min) {
    @include visually-hidden;
  }
}

.button-shove {
  margin-bottom: 2em;
}

// LAYOUT SPECIFICS
.app-container {
  padding: 0 .75em;
}

.hospital-box {
  border: 1px solid #eee;
  margin-bottom: 1em;

  &.hospital-box-small {
    min-height: 165px;
    padding: 1em;
  }

  &.active {
    background: #fef5ce;
  }

  .hospital-box-header {
    padding: .5em .5em 0;

    &.hospital-box-header-small {
      padding: 0;
    }

    input {
      float: left;
      margin: .25em .5em 10px 0;
    }

    h4 {
      line-height: 1.2;
      margin: 0;
      max-width: 93%;
    }
  }

  .hosp-information {
    .information {
      font-size: 14px;
      line-height: 1.3em;
      padding: .2em 0 0 2.15em;

      &.information-small {
        padding: 0;
      }
    }
  }

  .hospital-map {
    margin: 1em 0 -2px;
    text-align: right;
  }

  .controls {
    margin: 1em 0;
    text-align: center;
  }
}

//COMPARE PAGE

label {
  h4 {
    display: inline;
  }
}

.category-wrapper {
  margin-bottom: 1em;
}

.hosp-card-wrapper {
  width: 100%;
}

.info p {
  color: rgb(34, 34, 34);
  font-family: $base-sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.2em;
  margin: 1em 0;
}

.hosp-card {
  border-bottom: 1px solid $bbb;
  font-family: $base-sans-serif;
  margin-bottom: 1em;
  overflow: hidden;
  position: relative;
  width: 100%;

  header {
    h4 {
      font-size: 1em;
      margin: 0;
      overflow: hidden;
      padding: .5em;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .card-row {
    font-size: .9em;
    padding: .25em;
    width: 100%;

    &:nth-child(odd) {
      background-color: rgb(240, 240, 240);
    }

    p {
      margin: .25em;
    }
  }

  .sub-header {
    font-weight: bold;
  }

  .value-header {
    display: inline-block;
    font-style: italic;
    vertical-align: middle;
  }

  .value {
    display: inline-block;
    text-align: left;
    vertical-align: middle;

    &:nth-child(even) {
      text-align: right;
    }
  }
}

.fa {
  display: inline;
  padding-right: 1em;
}

.fa-chevron-down {
  display: none;
}

.ac-container label {
  display: block;
  overflow: hidden;
  padding: 1em;
  position: relative;
  z-index: 20;
}

.ac-container input:checked + label,
.ac-container input:checked + label:hover {
  .fa-chevron-right {
    display: none;
  }

  .fa-chevron-down {
    display: inline;
  }
}

.ac {
  display: block;
  overflow: hidden;
  padding: 1em;
  position: relative;
  z-index: 20;
}

.ac-1 {
  background-color: $ac1-open;
}

.ac-2 {
  background-color: $ac2-open;
}

.ac-3 {
  background-color: $ac3-open;
}

.ac-4 {
  background-color: $ac4-open;
}

.ac-hover1 {
  &:hover {
    background-color: $ac1-hover;
  }
}

.ac-hover2 {
  &:hover {
    background-color: $ac2-hover;
  }
}

.ac-hover3 {
  &:hover {
    background-color: $ac3-hover;
  }
}

.ac-hover4 {
  &:hover {
    background-color: $ac4-hover;
  }
}

.ac-container input {
  display: none;
}

.ac-container article {
  max-height: 0;
  overflow: hidden;
  position: relative;
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
  z-index: 10;
}

.ac-container input:checked ~ article {
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;

  &.ac-large {
    max-height: 9999px;
  }
}

.explainer-card-header {
  text-align: center;

  h5 {
    font-size: 1em;
    overflow: hidden;
    padding-bottom: .75em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.explainer-table-header {
  margin-bottom: 8px;
  text-align: center;

  h6 {
    color: rgb(102, 102, 102);
    font-size: .875em;
    font-style: italic;
    font-weight: 400;
  }
}

.explainer-table {
  font-size: .875em;

  th {
    color: rgb(102, 102, 102);
    font-style: italic;
    font-weight: 400;
  }

  td {
    @include media($mobile) {
      &:before {
        content: attr(data-title);
      }
    }
  }
}

@import 'theme/footer';
@import 'theme/table';
@import 'theme/ads';
