.masthead {
  background-color: $masthead-black;
  width: 100%;

  .branding {
    padding: .75em 0 .375em;
    text-align: center;
    width: 100%;

    .trib-logo {
      height: 1.625em;
    }
  }
}

.banner {
  background-color: rgb(128, 128, 128);
  display: table;
  height: 225px;
  margin: 0 0 1.5em;
  width: 100%;

  .grand-header {
    display: table-cell;
    padding: 0 1.25em;
    text-align: center;
    vertical-align: middle;

    a {
      color: rgb(255, 255, 255);
    }

    h1 {
      color: rgb(255, 255, 255);
      font-family: $base-serif;
      font-size: 2.5em;
      font-weight: 800;
      line-height: 1.15;
      text-shadow: rgb(0, 0, 0) 3px 3px 0;

      @include media($desktop) {
        font-size: 3em;
      }
    }
  }
}

.call-to-action {
  margin-bottom: 2em;

  p {
    font-family: $base-sans-serif;
    font-size: 1.125em;
    line-height: 1.2;
  }
}

.disclaimer {
  margin-top: 1em;

  p {
    font-family: $base-sans-serif;
    font-size: .875em;
    font-style: italic;
    font-weight: 300;
    line-height: 1.2;
  }
}

.search {
  text-align: center;

  p {
    font-size: .875em;
    font-style: italic;
  }

  input {
    margin: .5em 0 0;
    width: 100%;
  }
}

.find-me {
  @include media($desktop) {
    width: 50%;
  }
}

.or-separator {
  font-weight: 800;
  margin: 1em 0;
}

/// old stuff below


ul {
  list-style: none;
  padding: 0;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

hr {
  border: 0px none;
  height: 1px;
  background-color: $dark-grey;
  margin-bottom: 1em;
}

// LAYOUT SPECIFICS
.app-container {
  @include outer-container;
  padding: 0 0.75em;
  @include media($desktop) {
    .content-container {
      @include span-columns(8);

      .row {
        @include row();
      }

      .stat-column {
        @include span-columns(2 of 8);
      }

      .chart-column {
        @include span-columns(4 of 8);
      }

      .span-half {
        @include span-columns(4 of 8);
      }
    }
  }
}

// HEADER
.header {
  height: 3.125em + em(4, 16);
  line-height: 3.125em + em(4, 16);
  margin-bottom: 1em;
  background-color: #111;
  text-align: center;

  img {
    height: 1.75em;
    vertical-align: middle;
  }

  .menu-container {
    float: left;

    .menu {
      color: $offwhite;
      font-size: 2em;
      vertical-align: middle;
      cursor: pointer;
      @include transition(color 0.3s ease-in-out);

      &:hover {
        color: $yellow;
      }
    }
  }
}

.hospital-boxes {
  .hospital-box {
    border: 1px solid #EEE;
    margin-bottom: 1em;
    &.active{
      background: #fef5ce;
    }
    .hosp-information {
      header{
        padding: 0.5em 0.5em 0 0.5em;
        input{
          float: left;
          // 10px to make sure 2 row headers wrap
          margin: .25em .5em 10px 0;
        }
        h4{
          max-width: 93%;
          line-height: 1.2em;
          margin: 0;
        }
      }
      .information {
        padding: 0.2em 0 0 2.15em;
        line-height: 1.3em;
        font-size: 14px;
      }
    }
    .hospital-map {
      margin: 1em 0 -2px;
      text-align: right;
    }
    .controls {
      margin: 1em 0 1em;
      text-align: center;
    }
  }
}

// APP-CONTAINER
.footer-note{
  p{
    color: rgb(102, 102, 102);
    font: italic 200 0.75em Helvetica;
    line-height: 1.3em;
    position: relative;
    text-align: left;
  }
}

// FOOTER
.footer {
  background-color: rgb(34, 34, 34);
  color: $white;
  font-size: 0.75em;
  margin-top: 1em;
  .logo {
    width: 120px;
    margin-top: 1em;
  }

  .footer-container {
    text-align: center;
    margin: auto;
    @include outer-container;
    @include media($desktop) {
      div {
        @include span-columns(3 of 12);
      }
    }
    div {
      @include media($desktop) {
        text-align: left;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin-top: 2em;
      a {
        color: rgb(221, 221, 221);
        text-decoration: none;
        &:active {
          color: $white;
          text-decoration: underline;
        }
        &:hover {
          color: $white;
          text-decoration: underline;
        }
      }
      li {
        margin-bottom: 0.5em;
      }
    }
    .icon {
      color: $white;
      font-size: 1.5em;
      display: inline-block;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      padding-right: 0.5em;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      @include media($desktop) {
        text-align: left;
      }
      &:active {
        color: $teal;
      }
      &:hover {
        color: $teal;
      }
    }
    .internal-links {
      li {
        &:last-child {
          a {
            color: $dk_teal;
          }
        }
      }
    }
    .donate {
      background: $dk_teal;
      color: $white;
      font-family: Helvetica;
      padding: 0.25em 0;
      ul {
        margin: 1.5em 1.5em 0.75em 1.5em;
        font-size: 1.65em;
        line-height: 0.9em;
        border-bottom: 1px solid $white;
        letter-spacing: 0.03em;
        li {
          &:last-child {
            background-color: $yellow;
            color: rgb(34, 34, 34);
            font: 700 0.5em Helvetica;
            letter-spacing: 1px;
            line-height: 1.4em;
            text-align: center;
            text-transform: uppercase;
            margin: 1em 0 1.5em 0;
            padding: 0.25em 0;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
          }
        }
      }
      a {
        &:active {
          text-decoration: none;
        }
        &:hover {
          text-decoration: none;
        }
      }
      @include media($desktop) {
        padding: 0 0 1em 0;
      }
    }
  }
}

// TABLES
table {
  border-collapse: collapse;
  font-size: 0.75em;
  margin: 0 0 1em 0;
  padding: 0;
  width: 100%;
}

table th {
  // border-bottom: 1px solid #aaa;
  padding: 0 1.5em 0.5em 0.5em;
  text-align: left;
  vertical-align: middle;
}

// table tbody:before {
//   line-height:1em; content:"\200C"; display:block;
// }

table td {
  // border-bottom: 1px solid rgb(230, 230, 230);
  padding: 0.5em;
  text-align: left;
}

table th:nth-child(1), td:nth-child(1) {
  padding-left: 0.25em;
}

table tr:nth-child(odd) td {
  background-color: #f0f0f0;
}

@include media($mobile) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  table thead tr {
    @include visually-hidden;
  }

  table tr {
    border-bottom: 2px solid rgb(230, 230, 230);

    &:first-child {
      border-top: 2px solid rgb(230, 230, 230);
    }
  }

  table td {
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: right;

    &:last-child {
      border: none;
    }

    &:before {
      content: attr(data-title);
      position: absolute;
      left: 0.5em;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align:left;
      font-weight: bold;
    }
  }
}
