@import 'bourbon';
@import 'neat';

@import 'normalize';
@import 'settings';
@import 'layout';
@import 'base_theme';
@import 'theme';


.map-and-selected {
  @include span-columns(12);

  #map-location {
    height: 400px;
    margin-bottom: .7em;
  }

  @include media($desktop) {
    @include span-columns(6);
  }
}

#hospital-list {
  .hospital-box {
    height: 210px;
    position: relative;
  }

  .hospital-name {
    font-weight: bold;
  }

  .controls {
    bottom: 0;
    position: absolute;
    width: 100%;
  }

  .more-results {
    clear: both;
    font-size: 1em;
    margin: .5em;
    text-align: center;
  }

  @include media($desktop) {
    .hospital-box {
      height: 205px;
    }
  }
}

section.map-and-selected {
  margin-top: 2em;
}

.hospital-information {
  .hospital-data {
    @include span-columns(4 of 8);
    p {
      margin: .5em;
    }
  }

  .hospital-map {
    text-align: center;
    @include span-columns(4 of 8);
    @include omega();
    .button {
      margin-top: 1em;
    }
  }

  &:after {
    clear: both;
    content: '';
    display: block;
  }

  @include media($mobile) {
    .hospital-data,
    .hospital-map {
      @include span-columns(12);
    }
  }
}

.hide {
  display: none;
}

.error-page {
  p {
    margin: 5em 0 20em;
  }
}
