@import 'bourbon';
@import 'neat';

@import 'normalize';
@import 'settings';
@import 'layout';
@import 'base_theme';
@import 'theme';

.view-all {
  cursor: pointer;
}

form {
  margin-bottom: 1em;
}

.map-and-selected {
  @include span-columns(12);

  #map-location {
    height: 400px;
    margin-bottom: .7em;
  }

  @include media($desktop) {
    @include span-columns(6);
  }
}

#hospital-list {
  .hospital-box {
    height: 210px;
    position: relative;
  }

  .hospital-name {
    font-weight: bold;
  }

  .controls {
    bottom: 0;
    position: absolute;
    width: 100%;
  }

  .more-results {
    clear: both;
    font-size: 1em;
    margin: .5em;
    text-align: center;
  }

  @include media($desktop) {
    .hospital-box {
      height: 205px;
    }
  }
}

section.map-and-selected {
  margin-top: 2em;
}

.hospital-information {
  .hospital-data {
    @include span-columns(4 of 8);
    p {
      margin: .5em;
    }
  }

  .hospital-map {
    text-align: center;
    @include span-columns(4 of 8);
    @include omega();
    .button {
      margin-top: 1em;
    }
  }

  &:after {
    clear: both;
    content: '';
    display: block;
  }

  @include media($mobile) {
    .hospital-data,
    .hospital-map {
      @include span-columns(12);
    }
  }
}

.year-toggle {
  @include span-columns(12);
  margin: 0 0 1em 0;
  text-align: center;
  font-weight: 700;
  a {
    text-decoration: none;
    color: #282828;
  }
  .year-button {
    @include span-columns(2);
    cursor: pointer;
    padding: .5em;
    border-radius: 3px;
    &:first-child {
      margin-right: .2em;
    }
    @include media($mobile) {
      @include span-columns(6);
    }
  }
  .other-year {
    border: 1px solid $lt-gray;
    background-color: $lt-gray;
  }
  .this-year {
    border: 1px solid $tribune-yellow;
    background-color: $tribune-yellow;
    @include omega();
  }
}

.hide {
  display: none;
}

.error-page {
  p {
    margin: 5em 0 20em;
  }
}
