@import 'bourbon';
@import 'neat';

@import 'normalize';
@import 'settings';
@import 'layout';
@import 'base_theme';
@import 'theme';


.map-and-selected{
  @include span-columns(12);
  #selected-hospitals{
    .selected{
      background-color: $dark-grey;
      padding: 0.1em 1em 1em 1em;
      h3{
        margin: 0.5em 0;
      }
      div{
        margin-bottom: 0.3em;
        .remove-wrapper{
          float: left;
          .remove{
            color: $offblack;
            padding: 5px;
          }
        }
      }
    }
    .controls{
      text-align: center;
    }
  }
  #map-location{
    height: 400px;
    margin-bottom: 0.7em;
  }
  @include media($desktop){
    @include span-columns(6);
  }
}
section#hospital-list{
  margin-top: 1em;
  @include span-columns(12);
  @include media($desktop){
    margin-top: 3em;
    @include span-columns(6);
    margin-bottom: 4em;
  }
  .more-results {
    clear: both;
    text-align: center;
    font-size: .9em;
  }
}

.hospital-information {
  .hospital-data {
    @include span-columns(4 of 8);
    p {
      margin: 0.5em;
    }
  }
  .hospital-map {
    text-align: center;
    @include span-columns(4 of 8);
    @include omega();
    .button{
      margin-top: 1em;
    }
  }
  &:after {
    clear: both;
    content: '';
    display: block;
  }
  @include media($mobile){
    .hospital-data, .hospital-map {
      @include span-columns(12);
    }
  }
}

.hide{
  display: none;
}
.sticky{
  position: fixed;
  background: none repeat scroll 0 0 white;
  border: 1px solid black;
  width: 50%;
  z-index: 2;
  @include border-top-radius(5px);
}
