<header class="sub-section-header content-block">
  <h4>Search results</h4>
</header>
<section class="hospital-cards hospital-boxes content-block"></section>
<div class='more-results'>
  <a href='#' class='more-results'>&#xBB; See more results</a>
</div>
