<header>
  <h2>Hospital Compare</h2>
  <button>Compare</button>
  <p>You can select up to three hospitals to compare. So far, you've choosen:</p>
</header>
<table>
  <thead>
    <tr>
      <th>Hospital</th>
      <th>Distance</th>
      <th>Phone Number</th>
      <th>Type</th>
      <th>Emergency Serices</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<hr>
