<% if (showResults) { %>
<header class="result-labels">
  <h3>Compare Hospitals</h3>
  <p>Select up to three hospitals to compare</p>
  <!-- <button class="compare hide">Compare</button> -->
</header>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Hospital</th>
      <% if (showDistance){ %><th>Distance</th><% } %>
      <th>Phone number</th>
      <th>Type</th>
      <th>Emergency Services</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div class='more-results'>
  <a href='#' class='more-results'>&#xBB; See more results</a>
</div>
<% } else { %>
<section class='results'>
  <h3>Nothing to show so far</h3>
</section>
<% } %>