<% if (showResults) { %>
<div class="result-labels">
  <span class="compare-label">Select up to three hospitals to compare</span>
  <button class="compare hide">Compare</button>
</div>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Hospital</th>
      <% if (showDistance){ %><th>Distance</th><% } %>
      <th>Phone number</th>
      <th>Type</th>
      <th>Emergency Services</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div class='more-results'>
  <a href='#' class='more-results'>Click to see more results</a>
</div>
<hr>
<% } else { %>
<section class='results'>
  <h3>Nothing to show so far</h3>
</section>
<% } %>