<table class="hospitals" id="hospital-list-all">
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Provider Number</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
