<% if (showResults) { %>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Hospital</th>
      <% if (showDistance){ %><th>Distance</th><% } %>
      <th>Phone number</th>
      <th>Type</th>
      <th>Emergency Services</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div class='more-results'>
  <a href='#' class='more-results'>&#xBB; See more results</a>
</div>
<% } else { %>
<section class='results'>
  <h3>Nothing to show so far</h3>
</section>
<% } %>