<header class="sub-section-header">
  <h4>Select hospitals to compare</h4>
</header>
<section class="active-hospitals"></section>
<section class="controls">
  <button class="compare" disabled="true">Compare</button>
</section>
