<table class="hospitals" id="hospital-list-all">
  <thead>
    <tr>
      <th id="filter">Name</th>
      <th id="filter">City</th>
      <th id="filter">Provider Number</th>
      <th id="data-2013"></th>
      <th id="data-2012"></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
