<div class="search-container">
  <div class="hospital-name-search">
    <h4>Hospital Name</h4>
    <input class="table-search" type="search" placeholder="ex. Baptist Medical Center" data-column="0"><br>
  </div>
  <div class="city-search">
    <h4>City</h4>
    <input class="table-search" type="search" placeholder="ex. Austin" data-column="1"><br>
  </div>
  <div class="reset reset-btn"><p>Reset</p></div>
</div>

<table class="hospitals" id="hospital-list-all">
  <thead>
    <tr>
      <th>Name <i class="alpha-up alpha-show toggle fa fa-caret-up"></i><i class="alpha-down alpha-hide toggle fa fa-caret-down"></i></th>
      <th>City <i class="alpha-up toggle fa fa-caret-up"></i><i class="alpha-down alpha toggle fa fa-caret-down"></i></th>
      <th>2013</th>
      <th>2012</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
