<header class="sub-section-header">
  <h4>Selected hospitals</h4>
</header>
<section class="active-hospitals"></section>
<section class="controls">
  <button class="compare">Compare</button>
</section>
