<section class='results'>
  <!--<p class='no-results'>
    Didn't find what you'r looking for? Try on <a href="#">Advanced Search</a>
  </p>-->
  <span class="compare-label">Select up to three hospitals to compare</span>
  <button class="compare hide">Compare</button>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Hospital</th>
        <% if (showDistance){ %><th>Distance</th><% } %>
        <th>Phone number</th>
        <th>Type</th>
        <th>Emergency Services</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <div class='more-results'>
    <!--<a href='#' class='more-results'>Click to see more results</a>-->
  </div>
  <hr>
</section>
<section class='ad-container'>
  <img src="http://placehold.it/300x250&text=Ad Block 1">
  <img src="http://placehold.it/300x250&text=Ad Block 2">
</section>