<h2>Hospital Explorer</h2>
<hr>
<p>
  Search for hospitals near you or enter a Texas ZIP code to look up quality-of-care measures for any hospital in the state. Click on the name of an individual hospital to view details on its quality of care, or select multiple hospitals and click the "Compare" button to view details on multiple hospitals at once. We'll save which hospitals you've selected in the list below, so feel free to search multiple times to compare hospitals in different parts of the state.
</p>
<form>
  <div class="search-tools">
    <span>Search for a hospital name or ZIP code:</span>
    <input type="text" id="search-content" placeholder="78701"/>
  </div>
  <div class="search-controls">
    <button id="search-submit" class="search-submit" type="submit">Search</button>
    <span class="or-separator">- or -</span>
    <button id="find-me" class="find-me">Find hospitals near you</button>
    <img src="/img/round-ajax-loader.gif" class="loading hide"/>
    <div class="messages">
      <div class='empty hide'>We couldn't find any hospital, please try again</div>
    </div>
  </div>
</form>
