<h2>Hospital Explorer</h2>
<hr>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<form>
  <div class="search-tools">
    <span>Search for a hospital name or ZIP code:</span>
    <input type="text" id="search-content" placeholder="78701"/>
  </div>
  <button id="search-submit" class="search-submit" type="submit">Search</button>
  <span class="or-separator">- or -</span>
  <button id="find-me" class="find-me">Find hospitals near you</button>
  <img src="/img/round-ajax-loader.gif" class="loading hide"/>
  <div class="messages">
    <div class='empty hide'>We couldn't find any hospital, please try again</div>
  </div>
</form>
