<h2>Hospital Explorer</h2>
<hr>
<form>
  <a href="/#search/nearest" class="button">Show hospitals near you</a>
  <span>or</span>
  <input type="search" placeholder="Find hospital by name or ZIP code"/>
  <input type="submit" value="Search">
</form>