<h3>Find additional hospitals:</h3>
<form>
  <button>Show hospitals near you</button>
  <span>or</span>
  <input type="search" placeholder="Find hospital by name or zipcode"/>
  <input type="submit" value="Search">
</form>