<h2>Hospital Explorer</h2>
<hr>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<form>
  <a href="/#search/nearest" class="button">Show hospitals near you</a>
  <img src="/img/round-ajax-loader.gif" class="loading hide"/>
  <div class="search-tools">
    <span>Search for a hospital name or ZIP code:</span>
    <input type="search" placeholder="78701"/>
  </div>
  <input type="submit" value="Search">
</form>
