<header class="main-header content-block">
  <h2>Hospital Search</h2>
  <hr>
</header>

<section id="search-bar" class="content-block search"></section>
<section id="map" class="container"></section>
<section id="selected-top" class="container"></section>
<section id="hospital-list" class="container"></section>
<section id="selected-bottom" class="container"></section>
