<header class="main-header content-block">
  <h2>Hospital Search</h2>
  <hr>
</header>

<div class="call-to-action content-block">
  <p>Search for hospitals near you or enter a Texas ZIP code to look up quality-of-care measures for any hospital in the state. Click on the name of an individual hospital to view details on its quality of care, or select multiple hospitals and click the "Compare" button to view details on multiple hospitals at once. We'll save which hospitals you've selected in the list below, so feel free to search multiple times to compare hospitals in different parts of the state.</p>
</div>

<section id="search-bar" class="content-block search"></section>
<section id="map" class="container"></section>
<section id="selected-hospitals" class="container"></section>
<section id="hospital-list" class="container"></section>
