<header class="main-header content-block">
  <h2>Hospital Search</h2>
  <hr>
</header>

<div class="call-to-action content-block">
  <p>Search for hospitals near you or enter a Texas ZIP code to look up quality-of-care measures for Texas hospitals that have reported Medicare data to the federal <a href="http://cms.hhs.gov/">Centers for Medicare &amp; Medicaid Services</a>. View more details about a specific hospital's quality of care, or select multiple hospitals and click the "Compare" button to view information on multiple hospitals at once. We'll save which hospitals you've selected in the list below, so feel free to search multiple times to find and compare hospitals in different parts of the state.</p>
</div>

<section id="search-bar" class="content-block search"></section>
<section id="map" class="container"></section>
<section id="selected-top" class="container"></section>
<section id="hospital-list" class="container"></section>
<section id="selected-bottom" class="container"></section>
