<h3>Search results</h3>
<section id="map"></section>
<section class="content">
  <section id="hospitals-selected">hospitals selected</section>
  <section id="hospital-list"></section>
</section>
<section class='ad-container'>
  <img src="http://placehold.it/300x250&text=Ad Block 1">
  <img src="http://placehold.it/300x250&text=Ad Block 2">
</section>