<header>
  <h2>Texas Hospital Explorer</h2>
  <p>
    Choosing the right hospital can be a matter of life or death. Use this application to learn more about the quality of care available at each of Texas TK hospitals, and see how your local hospitals compare to each other, state and national standards.
  </p>
</header>
<section class="searcher">
  <button>Find hospitals near you</button>
  <form>
    <span>or</span>
    <input type="search" placeholder="Find hospital by name or zipcode"/>
    <input type="submit" value="Search">
    <div class="error hide">Error</div>
  </form>
</seciton>