<form>
  <p class="form-prompt">Search by hospital name or ZIP code</p>
  <div class="form-group">
    <label class="sr-only" for="search-content">Search by hospital name or ZIP code</label>
    <input type="text" id="search-content" placeholder="78701">
  </div>
  <button id="search-submit" class="search-submit" type="submit">Search</button>
  <span class="or-separator">- or -</span>
  <button id="find-me" class="find-me">Find hospitals near you</button>
  <img src="/img/round-ajax-loader.gif" class="loading hide"/>
</form>
<a id="view-all" class="view-all">View all hospitals</a>
<div class="messages">
  <div class="error hide"></div>
  <div class='empty hide'>We couldn't find any hospitals, please try again</div>
</div>
