<button class="find-me">Find hospitals near you</button>
<p class="or-separator">- or -</p>
<form>
  <p>Search by hospital name or ZIP code</p>
  <input type="text" placeholder="78701">
  <input type="submit" value="Search">
  <div class="messages">
    <div class="error hide"></div>
    <div class='empty hide'>We couldn't find any hospital, please try again</div>
  </div>
</form>
