<script id="map-template" type="text/template">
  <div class="map">
    <h2>Search results</h2>
    <img src="http://cluster3.lib.berkeley.edu/EART/images/blog_openstreetmap.jpg">
  </div>
</script>

<script id="search-template" type="text/template">
  <header>
    <h2>Texas Hospital Explorer</h2>
    <p>
      Choosing the right hospital can be a matter of life or death. Use this application to learn more about the quality of care available at each of Texas TK hospitals, and see how your local hospitals compare to each other, state and national standards.
    </p>
  </header>
  <section class="searcher">
    <button>Find hospitals near you</button>
    <form>
      <span>or</span>
      <input type="search" placeholder="Find hospital by name or zipcode"/>
      <input type="submit" value="Search">
      <!--<span class="error hide">Nothing to search</span>-->
    </form>
  </seciton>
</script>

<script id="hospital-template" type="text/template">
  <td><input type='checkbox'></td>
  <td><a href="{{= url }}.html">{{= name }}</a></td>
  <td>{{= distance }} miles</td>
  <td>{{= phone_number }}</td>
  <td>{{= type }}</td>
  <td>{{= emergency_services }}</td>
</script>

<script id="no-hospitals-template" type="text/template">
  <h1>No hospitals</h1>
</script>

<script id="hospitals-template" type="text/template">
  <section class='results'>
    <p class='no-results'>
      Didn't find what you'r looking for? Try on <a href="#">Advanced Search</a>
    </p>
    <span class="compare-label">Select up to three hospitals to compare</span>
    <button>Compare</button>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Hospital</th>
          <th>Distance</th>
          <th>Phone number</th>
          <th>Type</th>
          <th>Emergency Services</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div class='more-results'>
      <a href='#' class='more-results'>Scroll down to load more results</a>
    </div>
    <hr>
  </section>
  <section class='ad-container'>
    <img src="http://placehold.it/300x250&text=Ad Block 1">
    <img src="http://placehold.it/300x250&text=Ad Block 2">
  </section>
</script>
