---
title: Hospital Explorer | TexasTribune
---
<header class="app-header">
  <h1><a href="/">Hospital Explorer</a></h1>
  <hr>
</header>
<div class="search-container">
  <form method="get" action="/search">
    <input name="q" type="text" placeholder="Search by zipcode">
    <button>Search</button>
  </form>
</div>
<div class="compare-2">
  <div class="hospital-compare">
    <h1>Texas general hospital</h1>
    <h4>Acute Care Hospitals</h4>
    <a href="http://maps.google.com" target="_blank">
      <img src="http://maps.googleapis.com/maps/api/staticmap?center=-15.800513,-47.91378&zoom=11&size=200x200&sensor=false">
    </a>
    <ul>
      <li>Provider Number: 450002</li>
      <li>2001 N Oregon St</li>
      <li>El Paso, TX, 79902</li>
      <li>Phone number: (915) 577 6011</li>
    </ul>
  </div>
  <div class="hospital-compare">
    <h1>Texas general hospital 2</h1>
    <h4>Acute Care Hospitals</h4>
    <a href="http://maps.google.com" target="_blank">
      <img src="http://maps.googleapis.com/maps/api/staticmap?center=-15.800513,-47.91378&zoom=11&size=200x200&sensor=false">
    </a>
  </div>
</div>
