<h1>Hospital Explorer</h1>
<section class="app_container">
  <div class="search_bar">

  </div>
  <div class="hospital_information">
    <div class="hospital_data">
      <h2>Providence Health Center</h2>
      <div class="address">
        <p>6901 Medical Parkway</p>
        <p>Waco, TX 76712</p>
      </div>
      <div class="hospita_info">
        <p>Hospital Type: Acute Care Hospitals</p>
        <p>Emergency services: Yes</p>
        <p>Ownership: Voluntary Non Profit   Private</p>
      </div>
    </div>
    <div class="hospital_map">
      <img src="http://maps.googleapis.com/maps/api/staticmap?center=
      31.513228214000435,-97.1985460899997&zoom=11&size=200x200&sensor=false">
    </div>
    <button class="compare">Compare Hospital</button>
  </div>
  <div class="hospital_information">

  </div>
  <div class="hospital_information">
    <h3>Emergency Care</h3>
    <p class="description">In an emergency, timely and effective care is essential. These indicators show how long you could expect to wait in the emergency room before seeing a healthcare professional, being admitted to the hospital or being sent home. The data is taken from hospitals' medical records, and is audited and verified by CMS.</p>
    <table>
      <thead>
        <tr>
          <th>Average wait time</th>
          <th></th>
          <th>TX</th>
          <th>National</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Before being seen by a healthcare professional</td>
          <td>37 min.</td>
          <td>26 min.</td>
          <td>26 min.</td>
        </tr>
        <tr>
          <td>Before being admited to the hospital</td>
          <td>240 min.</td>
          <td>270 min.</td>
          <td>275 min.</td>
        </tr>
        <tr>
          <td>Before being sent home</td>
          <td>42 min.</td>
          <td>128 min.</td>
          <td>135 min.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="hospital_information">
    <h3>Clinical Care</h3>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in dui non massa vulputate bibendum a sed enim. Etiam tempor dolor ut ipsum accumsan vehicula sit amet et sapien.</p>
  </div>
  <div class="hospital_information">
  </div>
  <div class="hospital_information">
  </div>
  <div class="hospital_information">
  </div>
</section>
<aside class="ad-container">
  <img src="http://placehold.it/300x250&text=Ad Block 1">
  <img src="http://placehold.it/300x250&text=Ad Block 2">
  <img src="http://placehold.it/300x250&text=Ad Block 3">
</aside>

