---
title: Texas Hospital Explorer | The Texas Tribune
---
<div class="content-block call-to-action">
  <p>
    Use this application to learn more about the quality of care available at each of Texas TK hospitals, and see how your local hospitals compare to each other, state and national standards. Funded in part by a 12-month grant from the Kaiser Foundation, The Texas Tribune's hospital explorer uses data collected and analyzed by the federal Centers for Medicare and Medicare Services.
  </p>
</div>
<div class="loading" style="text-align:center;">
  <img src="/img/ajax-loader.gif">
</div>
<div id="narrow-search"></div>
<div id="results"></div>
<div id="search" class="content-block search"></div>
<div id="compare"></div>
