---
title: Texas Hospitals Explorer | The Texas Tribune
---
<div id="explorer-introduction" class="explorer-introduction">
  <div class="content-block">
    <div class="row share-row" style="margin-bottom: 1em;">
      <a target="_blank" title="share on Twitter" href="http://twitter.com/share?text=Check out the Texas Hospitals Explorer and learn more about quality of care at 377 Texas hospitals&url=http://hospitals.texastribune.org/&hashtags=txhospitals">
        <div class="share-cell first-share">
          <i class="fa fa-twitter"></i> Tweet
        </div>
      </a>
      <a target="_blank" title="share on Facebook" href="http://www.facebook.com/sharer.php?u=http://hospitals.texastribune.org/">
        <div class="share-cell">
          <i class="fa fa-facebook"></i> Recommend
        </div>
      </a>
    </div>
  </div>
  <div class="content-block call-to-action">
    <p>Use The Texas Tribune Hospitals Explorer to learn more about the quality of care available at 377 Texas hospitals, and to see how hospitals in your area compare with one another and with state and national standards. This application allows you to review hospitals that have reported Medicare data collected and analyzed by the federal <a href="http://cms.hhs.gov/">Centers for Medicare &amp; Medicaid Services</a>.</p>
  </div>
  <div class="content-block content-block-full introduction-section">
  </div>
  <div class="content-block call-to-action">
    <p>Search for hospitals near you or enter a Texas ZIP code to look up quality-of-care measures for any hospital in the state. Use the search to find information about a specific hospital, or find and select multiple hospitals to compare.</p>
  </div>
  <div class="loading" style="text-align:center;">
    <img src="/img/ajax-loader.gif">
  </div>
  <div id="search" class="content-block search"></div>
  <div class="content-block call-to-action">
    <p>
      Here's a look at the type of information you'll find in the application to help you evaluate Texas hospitals.
    </p>
  </div>
  <div class="content-block">
  <div class="index-about">
      <div class="ac ac-1">
        <h4>Emergency Care</h4>
      </div>
        <p class="glossary-text">How long could you expect to wait in a hospital's emergency department?</p>
      <div class="ac ac-2">
        <h4>Clinical Care</h4>
      </div>
        <p class="glossary-text">Does the hospital have higher or lower rates of surgical complications and health care-acquired infections than national standards?</p>
      <div class="ac ac-3">
        <h4>Patient Outcomes</h4>
      </div>
        <p class="glossary-text">Are patients frequently readmitted to the hospital within 30 days of being discharged? Do more patients die within 30 days of being discharged than the national rate?</p>
      <div class="ac ac-4">
        <h4>Patient Experience</h4>
      </div>
        <p class="glossary-text">Do other patients recommend the hospital? Does the medical staff communicate well, and are the rooms clean and quiet, according to previous patients?</p>
    </p>
  </div>
  </div>
</div>
<div id="results"></div>
<div id="compare"></div>
