---
title: Texas Hospital Explorer | The Texas Tribune
---
<div id="explorer-introduction">
<div class="content-block call-to-action">
  <p>
    Use this application to learn more about the quality of care available at each of Texas' 377 hospitals, and see how your local hospitals compare with one another, as well as with state and national standards. Funded in part by a 12-month grant from the Kaiser Foundation, The Texas Tribune's Hospital Explorer allows you to compare hospitals using data collected and analyzed by the federal Centers for Medicare and Medicare Services.
  </p>
</div>
<div class="content-block">
  <div class="row share-row" style="margin-bottom: 1em;">
    <div class="share-cell">
      <a target="_blank" title="share on Twitter" href="https://twitter.com/TODO"><i class="fa fa-twitter"></i> Twitter</a>
    </div>
    <div class="share-cell">
      <a target="_blank" title="share on Facebook" href="http://www.facebook.com/sharer.php?u=TODO"><i class="fa fa-facebook"></i> Facebook</a>
    </div>
  </div>
</div>
<div class="loading" style="text-align:center;">
  <img src="/img/ajax-loader.gif">
</div>
<div id="search" class="content-block search"></div>
</div>
<div id="results"></div>
<div id="compare"></div>
