---
title: Texas Hospitals Explorer | The Texas Tribune
---
<div id="explorer-introduction" class="explorer-introduction">
  <div class="content-block">
    <div class="row share-row" style="margin-bottom: 1em;">
      <a target="_blank" title="share on Twitter" href="http://twitter.com/share?text=Check out the Texas Hospitals Explorer and learn more about quality of care at Texas' 377 hospitals&url=http://hospitals.texastribune.org/&hashtags=txhospitals">
        <div class="share-cell first-share">
          <i class="fa fa-twitter"></i> Tweet
        </div>
      </a>
      <a target="_blank" title="share on Facebook" href="http://www.facebook.com/sharer.php?u=http://hospitals.texastribune.org/">
        <div class="share-cell">
          <i class="fa fa-facebook"></i> Recommend
        </div>
      </a>
    </div>
  </div>
  <div class="content-block call-to-action">
    <p>Use this application to learn more about the quality of care available at each of Texas' 377 hospitals, and see how your local hospitals compare with one another, as well as with state and national standards. Funded in part by a 12-month grant from the Kaiser Family Foundation, The Texas Tribune's Hospitals Explorer allows you to compare hospitals using data collected and analyzed by the federal Centers for Medicare and Medicaid Services.</p>
  </div>
  <div class="content-block content-block-full introduction-section">
    <div class="ad-container banner-ad">Ad space</div>
  </div>
  <div class="content-block call-to-action">
    <p>Search for hospitals near you or enter a Texas ZIP code to look up quality-of-care measures for any hospital in the state. Click on the name of an individual hospital to view details on its quality of care, or select multiple hospitals and click the "Compare" button to view details on multiple hospitals at once. We'll save which hospitals you've selected in the list below, so feel free to search multiple times to compare hospitals in different parts of the state.</p>
  </div>
  <div class="loading" style="text-align:center;">
    <img src="/img/ajax-loader.gif">
  </div>
  <div id="search" class="content-block search"></div>
  <div class="content-block call-to-action">
    <p>
      Inside the Tribune's Hospitals Explorer you'll find essential information to help you evaluate Texas hospitals' quality of care. You can find the hospital nearest you by clicking "Find Hospitals Near Me."
    </p>
  </div>
  <div class="content-block">
  <div class="index-about">
      <div class="ac ac-1">
        <h4>Emergency Care</h4>
      </div>
        <p class="glossary-text">How long could you expect to wait in a hospital's emergency department?</p>
      <div class="ac ac-2">
        <h4>Clinical Care</h4>
      </div>
        <p class="glossary-text">Does the hospital have higher or lower rates of surgical complications and health care-acquired infections than national standards?</p>
      <div class="ac ac-3">
        <h4>Patient Outcomes</h4>
      </div>
        <p class="glossary-text">Are patients frequently readmitted to the hospital within 30 days of being discharged? Do more patients die within 30 days of being discharged than the national rate?</p>
      <div class="ac ac-4">
        <h4>Patient Experience</h4>
      </div>
        <p class="glossary-text">Do other patients recommend the hospital? Does the medical staff communicate well, and are the rooms clean and quiet, according to previous patients?</p>
    </p>
  </div>
  </div>
</div>
<div id="results"></div>
<div id="compare"></div>
