---
title: Texas Hospitals Explorer | The Texas Tribune
---
<div id="explorer-introduction" class="explorer-introduction">
  <div class="content-block call-to-action">
    <p>
      Use this application to learn more about the quality of care available at each of Texas' 377 hospitals, and see how your local hospitals compare with one another, as well as with state and national standards. Funded in part by a 12-month grant from the Kaiser Foundation, The Texas Tribune's Hospitals Explorer allows you to compare hospitals using data collected and analyzed by the federal Centers for Medicare and Medicare Services.
    </p>
  </div>
  <div class="content-block">
    <div class="row share-row" style="margin-bottom: 1em;">
      <div class="share-cell">
        <a target="_blank" title="share on Twitter" href="http://twitter.com/share?text=Check out the Texas Hospitals Explorer and learn more about quality of care at Texas' 377 hospitals&url=http://hospitals.texastribune.org/&hashtags=txhospitals"><i class="fa fa-twitter"></i> Twitter</a>
      </div>
      <div class="share-cell">
        <a target="_blank" title="share on Facebook" href="http://www.facebook.com/sharer.php?u=http://hospitals.texastribune.org/"><i class="fa fa-facebook"></i> Facebook</a>
      </div>
    </div>
  </div>
  <div class="loading" style="text-align:center;">
    <img src="/img/ajax-loader.gif">
  </div>
  <div id="search" class="content-block search"></div>
  <div class="content-block call-to-action">
    <p>
      Inside the Tribune's Hospitals Explorer you'll find essential information to help you evaluate Texas hospitals' quality of care. You can find the hospital nearest you by clicking "Find Hospitals Near Me."
    </p>
  </div>
  <div class="index-about">
      <div class="ac ac-1">
        <h4>Emergency Care</h4>
      </div>
        <p class="glossary-text">How long could you expect to wait in a hospital's emergency department?</p>
      <div class="ac ac-2">
        <h4>Clinical Care</h4>
      </div>
        <p class="glossary-text">Does the hospital have higher or lower rates of surgical complications and health care-acquired infections than national standards?</p>
      <div class="ac ac-3">
        <h4>Patient Outcomes</h4>
      </div>
        <p class="glossary-text">Are patients frequently readmitted to the hospital within 30 days of being discharged? Do more patients die within 30 days of being discharged than the national rate?</p>
      <div class="ac ac-4">
        <h4>Patient Experience</h4>
      </div>
        <p class="glossary-text">Do other patients recommend the hospital? Does the medical staff communicate well, and are the rooms clean and quiet, according to previous patients?</p>
    </p>
  </div>
  <div class="content-block">
    <div class="about">
      <h3>Contributors</h3>
      <ul>
          <li>
              <p><strong><a href="mailto:baaronson@texastribune.org">Becca Aaronson</a></strong></p>
              <p class="handle">News Apps Developer | <a href="https://twitter.com/becca_aa" target="_blank">@becca_aa</a></p>
          </li>
          <li>
              <p><strong><a href="mailto:bhasson@texastribune.org">Ben Hasson</a></strong></p>
              <p class="handle">Web Designer | <a href="https://twitter.com/been_hussln" target="_blank">@been_hussln</a></p>
          </li>
          <li>
              <p><strong><a href="mailto:amittra@texastribune.org">Ayan Mittra</a></strong></p>
              <p class="handle">Managing Editor | <a href="https://twitter.com/ayanmittra" target="_blank">@ayanmittra</a></p>
          </li>
          <li>
              <p><strong><a href="mailto:rmuphy@texastribune.org">Ryan Murphy</a></strong></p>
              <p class="handle">News Apps Team Lead | <a href="https://twitter.com/rdmurphy" target="_blank">@rdmurphy</a></p>
          </li>
          <li>
              <p><strong><a href="mailto:eramshaw@texastribune.org">Emily Ramshaw</a></strong></p>
              <p class="handle">Editor | <a href="https://twitter.com/eramshaw" target="_blank">@eramshaw</a></p>
          </li>
          <li>
              <p><strong><a href="mailto:mvanetta@texastribune.org@texastribune.org">Marcos Vanetta</a></strong></p>
              <p class="handle">Knight/Mozilla Fellow | <a href="https://twitter.com/malev" target="_blank">@malev</a></p>
          </li>
          <li>
              <p><strong><a href="mailto:jvillanueva@texastribune.org">Jacob Villanueva</a></strong></p>
              <p class="handle">Art Director | <a href="https://twitter.com/jacovillanueva" target="_blank">@jacovillanueva</a></p>
          </li>
          <li>
              <p><strong><a href="mailto:twiseman@texastribune.org">Todd Wiseman</a></strong></p>
              <p class="handle">Multimedia Producer | <a href="https://twitter.com/wisemeister" target="_blank">@Wisemeister</a></p>
          </li>
      </ul>
    </div>
  </div>
</div>
<div id="results"></div>
<div id="compare"></div>
