---
title: Texas Hospitals Explorer | The Texas Tribune
---
<div id="explorer-introduction" class="explorer-introduction">
  <div class="content-block call-to-action">
    <p>
      Use this application to learn more about the quality of care available at each of Texas' 377 hospitals, and see how your local hospitals compare with one another, as well as with state and national standards. Funded in part by a 12-month grant from the Kaiser Foundation, The Texas Tribune's Hospital Explorer allows you to compare hospitals using data collected and analyzed by the federal Centers for Medicare and Medicare Services.
    </p>
  </div>
  <div class="content-block">
    <div class="row share-row" style="margin-bottom: 1em;">
      <div class="share-cell">
        <a target="_blank" title="share on Twitter" href="http://twitter.com/share?text=Hospitals Explorer&url=http://hospital.texastribune.org&hashtags=TexasTribune"><i class="fa fa-twitter"></i> Twitter</a>
      </div>
      <div class="share-cell">
        <a target="_blank" title="share on Facebook" href="http://www.facebook.com/sharer.php?u=http://hospital.texastribune.org"><i class="fa fa-facebook"></i> Facebook</a>
      </div>
    </div>
  </div>
  <div class="loading" style="text-align:center;">
    <img src="/img/ajax-loader.gif">
  </div>
  <div id="search" class="content-block search"></div>
  <div class="index-about call-to-action">
    <p>
      Inside the Tribune's Hospital Explorer you'll find essential information to help you evaluate Texas hospitals' quality of care. You can find the hospital nearest you by clicking "Find Hospitals Near Me."
    </p>
  </div>
  <div class="index-about">
      <div class="ac ac-1">
        <h4>Emergency Care</h4>
      </div>
        <p class="glossary-text">How long could you expect to wait in a hospital's emergency department?</p>
      <div class="ac ac-2">
        <h4>Clinical Care</h4>
      </div>
        <p class="glossary-text">Does the hospital have higher or lower rates of surgical complications and health care-acquired infections than national standards?</p>
      <div class="ac ac-3">
        <h4>Patient Outcomes</h4>
      </div>
        <p class="glossary-text">Are patients frequently readmitted to the hospital within 30 days of being discharged? Do more patients die within 30 days of being discharged than the national rate?</p>
      <div class="ac ac-4">
        <h4>Patient Experience</h4>
      </div>
        <p class="glossary-text">Do other patients recommend the hospital? Does the medical staff communicate well, and are the rooms clean and quiet, according to previous patients?</p>
    </p>
  </div>
  <div class="index-about call-to-action">
    <p>
      The information comes from Medicare data compiled and analyzed by the Centers for Medicare and Medicaid Services. The Tribune selected these specific metrics after consulting with Medicare employees, hospital administrators, health care consultants and consumer advocates. For more <a href="http://www.medicare.gov/hospitalcompare/Data/About.html">information</a> on the data, visit <a href="http://www.medicare.gov/hospitalcompare/search.html">Hospital Compare</a> at Medicare.gov.
    </p>
  </div>
</div>
<div id="results"></div>
<div id="compare"></div>
