---
title: Hospitals map
layout: layout
---

<div id="map-test" style="widht:900px; height:900px"></div>
<% content_for :script do %>
  <script type="text/javascript">

  var process = function process(geoData) {
    var markerOptions = {
      'marker-color':  '#F00',
      'marker-size':   'large',
      'marker-symbol': 'hospital'
    };
    geoData.features.forEach(function(feature) {
      _.extend(feature.properties, markerOptions);
    });
    return geoData;
  };

  $(function() {
    $.getJSON('/api/hospitals.geojson', function(geoData) {
      var geoData = process(geoData);


      var map = L.mapbox.map('map-test', app.Settings.mapId,{
        minZoom: 5,
        maxZoom: 17
      });
      var featureLayer = L.mapbox.featureLayer()
        .addTo(map)
        .setGeoJSON(geoData);
      map.fitBounds(featureLayer.getBounds());

    });
  });
  </script>
<% end %>