.ad-container {
  margin: 2em auto;
  text-align: center;
}

@mixin mobile-base {
  min-height: 100px;
}

.banner-ad {
  @include mobile-base;

  @include media($desktop) {
    min-height: 90px;
  }
}
