.ad-container {
  background-color: rgb(187, 187, 187);
  border-bottom: 1px solid rgb(187, 187, 187);
  border-top: 1px solid rgb(187, 187, 187);
  margin: 1em 0;
  padding: 1em 0;
}

.banner-ad {
  height: 90px;
  width: 728px;
}

.small-banner-ad {
  height: 60px;
  width: 468px;
}

.block-ad {
  height: 250px;
  width: 300px;
}

.mobile-ad {
  height: 100px;
  width: 300px;
}
