.search-container{
  h4{
    margin: 1em 0;
  }
  .hospital-name-search{
    margin: 0 0 .5em 0;
    @include span-columns(5);
    @include media($mobile) {
      @include span-columns(12);
    }
  }
  .city-search{
    margin: 0 0 .5em 0;
    @include span-columns(5);
    @include media($mobile) {
      @include span-columns(12);
    }
  }
  .reset-btn{
    @include span-columns(2);
    border-radius: 3px;
    border: 1px solid $tribune-yellow;
    background-color: $tribune-yellow;
    width: 100px;
    text-align: center;
    cursor: pointer;
    margin: .7em .5em .7em 0;
    font-weight: 700;
    p{
      margin: .2em 0;
    }
    &:hover{
      opacity: 0.8;
    }
  }
}

table {
  font-family: $base-sans-serif;
  font-size: 1em;
  margin-bottom: 2em;
  width: 100%;

  @include media($mobile) {
    border-top: 1px solid rgb(187, 187, 187);
    display: block;
    font-size: .875em;
  }
}

thead {
  @include media($mobile) {
    display: none;
  }
}

tbody {
  @include media($mobile) {
    display: block;
  }
}

th {
  border-bottom: 1px solid rgb(187, 187, 187);
  font-size: 1em;
  font-weight: 800;
  padding: 0 12px 8px;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;

  &:first-child {
    text-align: left;
  }

  @include media($mobile) {
    display: block;
  }

  .alpha{
    display: none;
  }

  .alpha-hide{
    display: none;
  }
}

td {
  font-size: .875em;
  padding: 8px 12px;
  text-align: left;

  &:first-child {
    text-align: left;
  }

  @include media($mobile) {
    display: block;
    font-weight: 300;
    padding: 0 12px 8px;
    text-align: left;

    &:first-child {
      font-size: 1em;
      font-weight: 800;
      padding-top: 8px;
    }

    &[data-title] {
      &:first-child:before {
        content: none;
      }
    }

    &:before {
      content: attr(data-title) '\A';
      display: block;
      font-weight: 800;
      margin-bottom: .25em;
      white-space: pre-wrap;
    }
  }
}

tr {
  &:nth-child(odd) td {
    background-color: rgb(240, 240, 240);
  }

  @include media($mobile) {
    display: block;
  }
}
