table {
  display: block;
  font-family: $base-sans-serif;
  font-size: .875em;
  margin-bottom: 1em;
  width: 100%;

  @include media($desktop) {
    display: table;
    font-size: 1em;
  }
}

thead {
  display: none;

  @include media($desktop) {
    display: table-header-group;
  }
}

tbody {
  display: block;

  @include media($desktop) {
    display: table-row-group;
  }
}

th {
  display: block;

  @include media($desktop) {
    border-bottom: 1px solid rgb(187, 187, 187);
    display: table-cell;
    font-size: 1em;
    font-weight: 800;
    padding: 0 12px 8px;
    text-align: right;
    vertical-align: middle;

    &:first-child {
      text-align: left;
    }
  }
}

td {
  display: block;

  &:first-child {
    font-weight: 800;
  }

  &[data-title] {
    &:first-child:before {
      content: none;
    }

    &:before {
      content: attr(data-title) ': ';
      font-weight: 800;

      @include media($desktop) {
        content: none;
      }
    }
  }

  @include media($desktop) {
    display: table-cell;
    font-size: .875em;
    padding: 8px 12px;
    text-align: right;

    &:first-child {
      text-align: left;
    }
  }
}

tr {
  display: block;

  &:nth-child(odd) td {
    background-color: rgb(240, 240, 240);
  }

  @include media($desktop) {
    display: table-row;
  }
}
